<div>
  <!-- Current Game UI -->
  <h4>Game ID: {{currentGame._id}}</h4>

  <h4>Player hands:</h4>
  <div ng-repeat="hand in currentGame.playerHands track by $index">
    Player {{$index}} hand: {{ hand }}
  </div>

  <h4>Actions:</h4>
  <div ng-repeat="action in currentGame.actions track by $index">
    Player {{ action.player }} claimed there are {{ action.claimNumber }} {{ action.claimFace }}'s
  </div>
  <div ng-if="ajaxFinish" data-ng-include="'/partials/PlayerDashboard.html'"></div>
</div>
