<div>
  <form name="newGameForm">
    numDice
    <input
      name="numDice"
      type="number"
      min=2
      data-ng-model="numDice"
      input-number-range-validator
      required
    />
    <span ng-show="newGameForm.numDice.$touched && newGameForm.numDice.$invalid">
      Please enter a number greater than 1.
    </span>

    numPlayers
    <input
      name="numPlayers"
      type="number"
      data-ng-model="numPlayers"
      min=2
      required
    />
    <span
      ng-show="newGameForm.numPlayers.$touched && newGameForm.numPlayers.$invalid">
      Please enter a number greater than 1.
    </span>

    <button ng-click="startGame()">Start Game</button>
  </form>
</div>
